<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">

    <label for="landmark_name">New Landmark: </label>
    <input type="text" name="landmark[name]" id="landmark_name">

    <label for="landmark_year_completed">Year Completed: </label>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

    <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
